/*
 0000000  000000000  000   000  000    
000          000      000 000   000    
0000000      000       00000    000    
     000     000        000     000    
0000000      000        000     0000000
*/

bgColor             = #181818
frameColor          = #111111
upColor             = rgb(200, 255, 0) 
downColor           = rgb(255, 50, 150)
wickUpColor         = rgb(100, 128, 0) 
wickDownColor       = rgb(128, 25, 75) 
frameWidth          = 6px
titlebarHeight      = 30px
titlebarFontSize    = 15px

@font-face 
    font-family     titlebarFont
    font-weight     normal
    font-style      normal
    src             url("../../node_modules/kxk/styl/Bahnschrift.woff")

@font-face 
    font-family     fontMono
    font-weight     bold
    font-style      bold
    src             url("../../node_modules/kxk/styl/Meslo.woff")
    
fill-abs()
    position            absolute
    bottom              0
    right               0
    left                0
    top                 0

// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

*
    outline-width       0
    
body
    fill-abs()
    margin              0
    overflow            hidden
    -webkit-user-select none
    
#main
    position            absolute
    bottom              0
    right               0
    left                0
    top                 titlebarHeight
    scroll              none
    overflow            hidden
    pointer-events      auto
    font-size           14px
    font-family         titlebarFont
    
// 000   000   0000000   000      000      00000000  000000000  
// 000 0 000  000   000  000      000      000          000     
// 000000000  000000000  000      000      0000000      000     
// 000   000  000   000  000      000      000          000     
// 00     00  000   000  0000000  0000000  00000000     000     

.walletDiv    
    fill-abs()
    background-color    bgColor

.heatmap    
    fill-abs()
    display             flex
    flex-direction      row
    transform           translateZ(0)

.heatmapItem
    overflow            hidden
    display             flex
    color               white
    &.horz
        flex-direction  row
    &.vert
        flex-direction  column
        
.heatmapCoin
    overflow            hidden
    display             flex
    flex-direction      column
    box-sizing          border-box
        
.coinPercent
    padding-bottom      10px
.coinName
    padding-top         10px
    
.coinButton
    align-self          center
    margin              auto
    line-height         200%

.heatmapCoin:hover .coinName
    align-self      center
    display         inherit !important

.heatmapCoin:hover .coinPercent
    align-self      center
    display         inherit !important
    
.heatmapCoin:hover .coinUSDT
    align-self      center
    display         inherit !important
    background-color #000
    padding-left     0.3em
    padding-right    0.3em

.heatmapCoin
    &:hover 
        border  1px solid

//  0000000   0000000   0000000   00000000   00000000  
// 000       000       000   000  000   000  000       
// 0000000   000       000   000  0000000    0000000   
//      000  000       000   000  000   000  000       
// 0000000    0000000   0000000   000   000  00000000  

.titleScoreButton
    padding-top         5px
    inline-size         -webkit-fill-available
    text-align          center
    box-sizing          border-box
    &.active
        background-color  #222
    &:hover
        border  1px solid #444

    &.btnplay
        color           #444
    &.btn5m
        color           #800
    &.btn15m
        color           #f00
    &.btn30m
        color           #f80
    &.btn1h
        color           #8f0
    &.btn2h
        color           #080
    &.btn4h
        color           #064
    &.btn12h
        color           #26a
    &.btn24h
        color           #ddf
    &.btn1d
        color           #88f
    &.btn3d
        color           #26a
    &.btn1w
        color           #02c
    &.btn1M
        color           #00a

.scoremap    
    position            absolute
    top                 0
    left                0
    bottom              0
    right               0
    display             flex
    flex-direction      row
    transform           translateZ(0)
        
//  0000000   00000000    0000000   00000000   000   000  
// 000        000   000  000   000  000   000  000   000  
// 000  0000  0000000    000000000  00000000   000000000  
// 000   000  000   000  000   000  000        000   000  
//  0000000   000   000  000   000  000        000   000  

.graphDiv
    fill-abs()
.graph 
    font-family         fontMono
    font-size           64px
    
.price
    position            absolute
    right               0
    height              20px
    padding-left        5px
    padding-right       5px
    transform           translateY(-50%)
    white-space         nowrap
    pointer-events      none

    &.mouse
        background-color    bgColor
        color               #666
        
    &.kline
        background-color    bgColor
        &.green
            color           wickUpColor
        &.red
            color           wickDownColor
            
    &.current    
        font-weight         bold
        font-size           16px
    &.current.green
        color               #111
        background-color    upColor
    &.current.red
        color               #111
        background-color    downColor
    
.time
    position            absolute
    bottom              0
    height              20px
    color               #444
    padding-left        30px
    padding-right       30px
    transform           translateX(-50%)
    white-space         nowrap
    background          linear-gradient(to left,rgba(0,0,0,0), bgColor, bgColor, rgba(0,0,0,0))
    pointer-events      none
    
.timespan
    color               #66f

.interval
    color               #666

// 00000000   0000000   000   000   0000000  
// 000       000   000  000   000  000       
// 000000    000000000   000 000   0000000   
// 000       000   000     000          000  
// 000       000   000      0      0000000   

.favButtons
    background-color    frameColor
    position            absolute
    left                0
    bottom              0
    width               80px
    
.favButton
    width               20px
    height              20px
    padding-left        3px
    padding-right       3px
    padding-top         2px
    padding-bottom      1px
    
.favButton
    &:hover 
        background-color  #aaa  !important
    &:active
        background-color  #ff0  !important
    
//  0000000   000   000  000000000  000      000  000   000  00000000  
// 000   000  000   000     000     000      000  0000  000  000       
// 000   000  000   000     000     000      000  000 0 000  0000000   
// 000   000  000   000     000     000      000  000  0000  000       
//  0000000    0000000      000     0000000  000  000   000  00000000  

.averageButtons
    background-color    frameColor
    position            absolute
    left                0
    top                 0
    width               40px

.outlineButtons
    background-color    frameColor
    position            absolute
    left                40px
    top                 0
    width               40px
    
.averageButton
.outlineButton
    padding-left        6px
    
.averageButton
.outlineButton
    &:hover 
        background-color  #222  !important
    &:active
        background-color  #000  !important
        
// 000000000  000  000000000  000      00000000  
//    000     000     000     000      000       
//    000     000     000     000      0000000   
//    000     000     000     000      000       
//    000     000     000     0000000  00000000  

.titleContainer
    margin-left         10px
    padding             0
    display             inline-flex
    flex                100 1 50%
    
.titleContainer.titleCoin
    padding-top         2px
    flex                1 100 auto
    align-self          center
    text-align          center

.titleContainer.titleWallet
    padding-top         5px
    
.titleContainer.titleScore    
    text-align          right
    
.walletTotal
    padding-left        8px
    padding-right       8px
    
.walletEUR
    color               #ff0
.walletUSDT
    color               #f0f
.walletBTC
    color               #0ff
        
.coin.icon
    margin-left         10px
    margin-right        10px
    width               22px
    height              22px
    
// 000000000  000  000000000  000      00000000  0000000     0000000   00000000 
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     000      0000000   0000000    000000000  0000000  
//    000     000     000     000      000       000   000  000   000  000   000
//    000     000     000     0000000  00000000  0000000    000   000  000   000

#titlebar
    display             flex
    flex-direction      row
    height              titlebarHeight
    box-sizing          border-box
    font-size           titlebarFontSize
    font-family         titlebarFont
    white-space         nowrap
    cursor              pointer

.titlebar-title
    font                titlebarFont
    display             flex
    flex-direction      row
    flex                1 1
            
.quote
    opacity             0.5
    
.titlebar-dot
    display             inline-block
    vertical-align      top
    padding-left        9px
    padding-right       9px
    margin-top          -1px
    
#titlebar .winicon img
    pointer-events      all
    padding-left        6px
    padding-top         3px
    width               22px
    height              22px
    
#titlebar .winbutton
    flex                0 0 45px
    display             inline-block
    text-align          center
    vertical-align      bottom
    font-size           18px
    padding-top         2px
    pointer-events      all
    &.minimize
        padding-top     5px

#titlebar .topframe
    height              2px
    position            absolute
    left                0
    top                 0
    right               135px
        
// 00     00  00000000  000   000  000   000  
// 000   000  000       0000  000  000   000  
// 000000000  0000000   000 0 000  000   000  
// 000 0 000  000       000  0000  000   000  
// 000   000  00000000  000   000   0000000   
            
.menu
    height              titlebarHeight
    pointer-events      auto
    flex                0 0 0
    display             flex
    flex-direction      row
    
.menuItem
    cursor              pointer
    padding-left        10px
    padding-right       10px
    padding-top         7px
    display             inline-block
    height              titlebarHeight
    overflow            visible
            
// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

.popup
    z-index             9999
    position            absolute
    border-radius       3px
    font-size           titlebarFontSize
    font-family         titlebarFont
    &.titlemenu
        border-top-left-radius   0
        border-top-right-radius  0
    
.popupItem
    padding             2px
    padding-left        2 * frameWidth
    padding-right       2 * frameWidth + 70px
    cursor              pointer
    &.separator
        padding         0
        cursor          default
        border          0
        height          0
        margin-top      6px
        margin-bottom   6px
    &:last-child
        padding-bottom  frameWidth
    &:first-child
        padding-top     frameWidth

.popupCombo
    pointer-events      none
    position            absolute
    right               2 * frameWidth
    
//  0000000   0000000  00000000    0000000   000      000      
// 000       000       000   000  000   000  000      000      
// 0000000   000       0000000    000   000  000      000      
//      000  000       000   000  000   000  000      000      
// 0000000    0000000  000   000   0000000   0000000  0000000  

::-webkit-scrollbar
    width                   frameWidth
::-webkit-scrollbar
    height                  frameWidth  
    background-color        transparent
::-webkit-scrollbar-track
    background-color        transparent
    
    